<!-- НОРМАЛІЗОВАНІ -->
<div class="table-wrap">
  <table class="data-table">
    <thead>
      <tr>
        <% @normalized.first.keys.each do |k| %>
          <th><%= QualityController::INDICATOR_NAMES[k] || k %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @normalized.each do |row| %>
        <tr>
          <% row.values.each do |v| %>
            <td><%= v.round(3) %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<!-- ІНТЕГРАЛЬНИЙ -->
<div class="card" style="margin-top:16px;">
  <div class="card-title">
    <h2>Інтегральний показник якості</h2>
    <div class="muted">Результат агрегування показників</div>
  </div>

  <div class="kpi">
    <div class="value"><%= @integral %></div>
    <div class="label">D — інтегральна оцінка якості</div>
  </div>
  <div style="display:flex; gap:10px; flex-wrap:wrap; margin-top:16px;">
  <%= link_to "Експорт CSV (звіт)", download_path("results", format: :csv), class: "btn" %>
  <%= link_to "Експорт PDF (звіт)", download_path("results", format: :pdf), class: "btn" %>
  </div>

</div>

<!-- ГРАФІКИ -->
<div class="card" style="margin-top:16px;">
  <div class="card-title">
    <h2>Візуалізація результатів</h2>
    <div class="muted">Графічне подання середніх значень і динаміки</div>
  </div>

  <div class="chart-grid">
    <div class="chart-box">
      <h3 style="margin-bottom:10px;">Середні значення показників</h3>
      <%= column_chart @chart_data, id: "avg_indicators_#{@chart_uid}", height: "320px" %>
    </div>

    <div class="chart-box">
      <h3 style="margin-bottom:10px;">Динаміка показників</h3>
      <%= line_chart @chart_data, id: "trend_indicators_#{@chart_uid}", height: "320px" %>
    </div>
  </div>
</div>
